@media only screen and (max-width: 1199px) {
    .headerStyle {
        height: 9vh;
        width: 100vw;
        background-color: lightgrey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 -.2em .5em inset rgb(126, 126, 126);
    }

    .starWarsText {
        padding-left: .5em;
        color: black;
        font-weight: 1000;
        text-shadow: .03em .03em .1em rgb(0, 0, 0);
        -webkit-text-stroke: .015em rgb(255, 255, 255);
    }

    .right {
        padding-right: .5em;
        /* background-color: red; */
        display: flex;
        height: 7.5vh;
        /* width: 33vw; */
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: .5em;
    }
}

@media only screen and (min-width: 1200px) {
    .headerStyle {
        height: 9vh;
        width: 100vw;
        background-color: lightgrey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 -.2em .5em inset rgb(126, 126, 126);
    }

    .starWarsText {
        padding-left: .5em;
        color: black;
        font-size: 2em;
        font-weight: 1000;
        letter-spacing: .2em;
        text-shadow: .03em .03em .1em rgb(0, 0, 0);
        -webkit-text-stroke: .015em rgb(255, 255, 255);
        cursor: pointer;
    }

    .right {
        padding-right: 1em;
        display: flex;
        height: 7.5vh;
        width: 33vw;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1em;
    }
}